body{
    font-family: Arial, Helvetica, sans-serif;
    /* margin-bottom: 80px; */
    font-family: 'Roboto', sans-serif;
}
#User{
    width: 750px;
    margin: auto;
    height: 120px;
    border: solid 1px white;
    background-color: rgb(69, 235, 235);
}

#Balance-box{
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 10px;
    font-weight: 500;
    font-size: 20px;
    color: rgb(251, 251, 251);
    /* border: solid; */
    /* position: absolute; */
}

#Balance{
    margin-left: 10px;
}

#Recharge{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    /* border: solid; */
}
#recharge-button{
    background-color: rgb(57, 57, 243);
    color: white;
    height: 30px;
    width: 80px;
    border-radius: 6px;
    border: none;
    /* margin-left: 10px; */
}


#choice,#history,#user-record{
    width: 700px;
    margin: auto;
}

#color{
    margin: 40px 0px 30px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.color-box{
    width: 25%;
    height: 50px;
    border-radius: 5px;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    box-shadow: 0px 3px 8px rgb(142, 139, 139);
    user-select: none;
}
#number{
    margin: 10px;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    column-gap: 15px;
    
    /* border: solid 1px; */
}
.number-box{
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 15px;
    margin: 7px;
    color: white;
    font-size: larger;
    font-weight: bold;
    box-shadow: 0px 3px 8px rgb(142, 139, 139);
    user-select: none;
    position: relative;
    overflow: hidden;
}

.Red{
    background-color: rgb(160, 4, 4);
}
.Green{
    background-color: rgb(6, 116, 6);
}
.Blue{
    background-color: rgb(9, 9, 154);
}

.half{
    width: 40%;
    height:150%;
    position: absolute;
    top: -50;
    left: 0;
    background-color: rgba(9, 9, 154, 0.632);
    transform-origin: 50 50;
    transform: rotate(-45deg);
}

.partition-line{
    background-color: rgb(5, 92, 5);
    height: 2px;
    margin: 30px 0px 30px 0px;
}

hr{
    border: none;
    background-color: rgb(225, 221, 221);
    height: .5px;
}

.current{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    /* border: solid; */
}
.Period-box,#Timer-box{
    color: gray;
    /* margin-top: 20px; */
    /* border: solid; */
}

.next-Quantum,#Timer{
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.774);
    font-size: 20px;
    font-weight: bold;
}

#Result-headline,#Record-headline{
    width: fit-content;
    font-size: 25px;
    font-weight: bold;
    margin: auto;
    margin-bottom: 20px;
    /* text-decoration: underline; */
    
}

#Result-header,.result{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: solid 1px; */
}

.heads{
    font-size: 20px;
    /* font-weight: bold; */
    color: rgb(50, 1, 95);
    /* border: solid; */
    width: 100px;
    display: flex;
    justify-content: center;
}

.result{
    height: 20px;
    font-size: 14px; 
}

.Quantum-data{
    /* border: solid; */
    width: 100px;
    display: flex;
    justify-content: center;
}

.Number-data{
    /* border: solid; */
    width: 100px;
    display: flex;
    justify-content: center;
}


.Colour-data-box{
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: solid; */
}

.Colour-data{
    /* border: solid red; */
    /* margin-right: 10px; */
    background-color: rgb(25, 0, 255);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 1px;
}

#Owner{
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 14px;
    color: rgba(75, 75, 76, 0.541);
    margin-top: 80px;
}

.floating-button{
    height: 35px;
    width: 35px;
    /* border: 1px solid cyan; */
    border-radius: 50%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.132);
    /* border: 2px solid rgb(217, 212, 212); */
    box-shadow: 0 0px 10px rgb(6, 175, 221);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    right: 10px;
    cursor: pointer;
}
.Button{
    /* display:none ; */
    font-size: 20px;
    font-weight: bold;
    color: rgba(6, 23, 1, 0.718);
    user-select: none;
    position: absolute;
}

/* ======================================== MEDIA QUERIES FOR RESPONSIVENESS======================================= */

@media (max-width:750px) {
    #User,#choice,#history,#user-record{
        /* margin: 20px; */
        width: 98%;
        padding: 5px;
        margin: auto;
        
    }
    #User{
        height: 95px;
        /* width: 100%; */
    }
    #Balance-box{
        font-size: 18px;
        /* border: solid; */
        margin: 5px;
        margin-top: 10px;
        height: auto;
    }
    #recharge-button{
        margin-right: 10px;
        font-size: 11px;
        height: 28px;
        width: 65px;
    }
    #Timer-box{
        font-size: 18px;
        margin-top: 19px;
        padding: 5px;
        height: auto;
    }
    .color-box{
        font-size: smaller;
        border-radius: 2px;
    }
    .number-box{
        height: 14px;
        width: 14px;
        font-size: smaller;
    }
    #number{
        column-gap: 2px;
    }
    #Result-headline{
        font-size:20px;
    }
    .heads{
        font-size: medium;
    }
    #Record-headline{
        font-size: 20px;
    }
    .floating-button{
        position: fixed;
    }

}